<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cictec.yyjk.report.mapper.SysConfigInfoMapper">
  <!--1.0 返回结果集 -->
    <resultMap type="com.cictec.yyjk.report.model.entity.SysConfigInfo" id="resultMap">
        <result property="id" column="id"/>
        <result property="codeName" column="code_name"/>
        <result property="codeValue" column="code_value"/>
     	<result property="codeValueExplain" column="code_value_explain"/>
        <result property="codeNameExplain" column="code_name_explain"/> 
        <result property="sfqy" column="sfqy"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

</mapper>