<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cictec.yyjk.linenet.mapper.NetXmlConfigMapper">
  <resultMap id="BaseResultMap" type="com.cictec.yyjk.linenet.model.entity.NetXmlConfig">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="code_type" jdbcType="VARCHAR" property="codeType" />
    <result column="code_type_name" jdbcType="VARCHAR" property="codeTypeName" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="code_value" jdbcType="VARCHAR" property="codeValue" />
    <result column="code_index" jdbcType="VARCHAR" property="codeIndex" />
  </resultMap>
  
  <!-- 获取线网评分指标链接需要查询的tab列-->
	<select id="getSelectColumn" parameterType="com.cictec.yyjk.linenet.model.vo.NetXmlConfigVo" resultType="com.cictec.yyjk.linenet.model.view.NetXmlConfigValue">
		SELECT
			code_type codeType,code_type_name codeTypeName,lower(array_to_string(group_concat(code),',')) codes
		FROM
			net_xml_config
		GROUP BY
			code_type,code_type_name
	</select>
	<!-- 获取线网评分指标链接需要查询的列名-->
	<select id="getCodeList" parameterType="com.cictec.yyjk.linenet.model.vo.NetXmlConfigVo" resultType="com.cictec.yyjk.linenet.model.view.NetXmlConfigValue">
		SELECT
			lower(code) code,
			code_value codeValue
		FROM
			net_xml_config
		<where>
		 	<if test="codeType != null and codeType != ''">
		 		AND code_type = #{codeType}
		 	</if>
		 </where>
		ORDER BY code_type,code_index
	</select>
</mapper>