<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cictec.yyjk.timingtask.mapper.AnalysisSectionMonthMapper">
  <resultMap id="BaseResultMap" type="com.cictec.yyjk.timingtask.model.entity.AnalysisSectionMonth">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="section_uuid" jdbcType="VARCHAR" property="sectionUuid" />
    <result column="org_uuid" jdbcType="VARCHAR" property="orgUuid" />
    <result column="org_name" jdbcType="VARCHAR" property="orgName" />
    <result column="line_uuid" jdbcType="VARCHAR" property="lineUuid" />
    <result column="line_name" jdbcType="VARCHAR" property="lineName" />
    <result column="line_type" jdbcType="VARCHAR" property="lineType" />
    <result column="line_sta_uuid" jdbcType="VARCHAR" property="lineStaUuid" />
    <result column="sta_seq" jdbcType="VARCHAR" property="staSeq" />
    <result column="sta_name" jdbcType="VARCHAR" property="staName" />
    <result column="upload_time_month" jdbcType="VARCHAR" property="uploadTimeMonth" />
    <result column="upload_time_hour" jdbcType="INTEGER" property="uploadTimeHour" />
    <result column="pfr_get_on_number" jdbcType="INTEGER" property="pfrGetOnNumber" />
    <result column="pfr_get_off_number" jdbcType="INTEGER" property="pfrGetOffNumber" />
    <result column="prf_get_person_count" jdbcType="INTEGER" property="prfGetPersonCount" />
  </resultMap>
  
  <select id="getAnalysisSectionMonthDatas" parameterType="java.lang.String" resultMap="BaseResultMap">
		WITH temp_a AS (
			SELECT
				org_uuid,
				org_name,
				pfr_line_uuid,
				pfr_line_name,
				pfr_line_type,
				pfr_line_station_uuid,
				pfr_station_seq,
				pfr_station_name,
				<!-- 取月份 -->
				LEFT (CAST (pfr_upload_time AS VARCHAR),7) AS upload_time_month,
				<!-- 取小时 -->
				EXTRACT (HOUR FROM pfr_upload_time) AS upload_time_hour,
				LEFT(CAST(pfr_upload_time AS VARCHAR),10) AS pfr_trip_date,
				<!-- 平均上车人数 -->
				SUM (pfr_get_on_number) AS pfr_get_on_number,
				<!-- 平均下车人数 -->
				SUM (pfr_get_off_number) AS pfr_get_off_number,
				SUM (prf_get_person_count) AS prf_get_person_count
			FROM
				mid_passenger_flow_result T 
				<where>
					<if test="month != null and month != ''">
						AND to_char(pfr_upload_time,'yyyy-MM') = #{month} 
					</if>
				</where>
			GROUP BY
				org_uuid,
				org_name,
				pfr_line_uuid,
				pfr_line_name,
				pfr_line_type,
				pfr_line_station_uuid,
				pfr_station_seq,
				pfr_station_name,
				LEFT (CAST (pfr_upload_time AS VARCHAR),7),
				EXTRACT (HOUR FROM pfr_upload_time),
				LEFT(CAST(pfr_upload_time AS VARCHAR),10)
		) 
		SELECT
			org_uuid,
			org_name,
			pfr_line_uuid AS line_uuid,
			pfr_line_name AS line_name,
			pfr_line_type AS line_type,
			pfr_line_station_uuid AS line_sta_uuid,
			pfr_station_seq AS sta_seq,
			pfr_station_name AS sta_name,
			upload_time_month,
			upload_time_hour,
			round(AVG(pfr_get_on_number)) AS pfr_get_on_number,
			round(AVG(pfr_get_off_number)) AS pfr_get_off_number,
			round(AVG(prf_get_person_count)) AS prf_get_person_count
		FROM
			temp_a
		GROUP BY
			org_uuid,
			org_name,
			pfr_line_uuid,
			pfr_line_name,
			pfr_line_type,
			pfr_line_station_uuid,
			pfr_station_seq,
			pfr_station_name,
			upload_time_month,
			upload_time_hour
  </select>
</mapper>